.home-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
    margin-top: 2rem; 
}

body {
    background-image: url('https://images6.alphacoders.com/119/thumb-1920-1197845.png');
    background-size: cover; /* Asegúrate de que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    min-height: 100vh; /* Asegúrate de que el cuerpo ocupe al menos la altura de la ventana */
}


.card {
    border: 1px solid ; 
    transition: transform 0.3s ease-in-out;  
}

.card-body {
    padding: 1.25rem; 
}




